<html>

<head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title data-title="Tài trợ">Tài trợ | How Kteam</title>


  <link href="/css/styles-v=x4RW60atpIurWojGx_tZLVnh4oDpgbF2hGWxJiMjAGM1.css" rel="stylesheet" />
  <link href="/css/common-v=mjfzwyxul6gbnDVQmoNbszXxFbDZ9PtP-RQfZsN9oLA1.css" rel="stylesheet" />
  <link href="/css/cmt-v=iFnEdsc0aWB7ErYBJCquEdtuLN598jdqlemVQiSAWT81.css" rel="stylesheet" />

</head>

<body style="padding: 0px;">
  <div id="page-container" class="sidebar-o side-scroll page-header-glass page-header-inverse page-header-fixed main-content-narrow sidebar-inverse side-trans-enabled page-header-scroll" style="height: auto !important;">
    <%- include('../layout/sidebar'); %>
    <%- include('../layout/menu'); %>
    <%- include('../layout/header'); %>
    <main id="main-container" style="min-height: 0px !important; height: auto !important;">




      <!-- Hero -->
      <div class="bg-image" style="background-image: url('/Content/images/banner/map.jpg');">
        <div class="bg-primary-dark-op">
          <div class="content text-center">
            <div class="py-50 mt-20">
              <h1 class="h2 text-white font-w700 mb-10">Tài trợ</h1>
              <h2 class="h5 text-white-op mb-0 font-w400">Hỗ trợ để MYCLASS có thể xây dựng nhiều khóa học hơn.</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- END Hero -->

      <div class="bg-gray-light">
        <div class="content py-0 text-center">
          <ul class="nav nav-tabs nav-tabs-block bg-gray-light justify-content-center">
            <li class="nav-item">
              <a class="nav-link" id="a-nav-about" href="/about">Về MYCLASS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="a-nav-supporters" href="/supporters">Người ủng hộ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="a-nav-contact" href="/contact">Liên hệ - Góp ý</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="a-nav-donate" href="/donate">Tài trợ</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="content" style="height: auto !important;">
        <div id="faq1" role="tablist" aria-multiselectable="true">
          <!-- <div class="block block-rounded mb-5">
            <div class="block-header block-header-default" role="tab" id="faq1_h1">
              <a class="block-title font-w600 text-body-color-dark" data-toggle="collapse" data-parent="#faq1" href="#faq1_q1" aria-expanded="true" aria-controls="faq1_q1"><i class="far fa-credit-card fa-fw"></i> ỦNG HỘ ONLINE SỬ DỤNG THẺ ATM HOẶC VISA/MASTER</a>
            </div>
            <div id="faq1_q1" class="collapse show" role="tabpanel" aria-labelledby="faq1_h1">
              <div class="block-content pb-20">
                <p>Ủng hộ online sử dụng thẻ ATM hoặc VISA/MASTER.</p>
                <p><strong>Lưu ý:</strong> Thẻ cần có chức năng Internet Banking.</p>
                <a class="btn btn-primary btn-noborder min-width-100" href="/donate/bank"><i class="fas fa-arrow-right"></i> Tiếp tục</a>
              </div>
            </div>
          </div> -->
          <div class="block block-rounded mb-5">
            <div class="block-header block-header-default" role="tab" id="faq1_h2">
              <a class="block-title font-w600 text-body-color-dark" data-toggle="collapse" data-parent="#faq1" href="#faq1_q2" aria-expanded="true" aria-controls="faq1_q2"><i class="fab fa-paypal fa-fw"></i> ỦNG HỘ QUA PAYPAL</a>
            </div>
            <div id="faq1_q2" class="collapse" role="tabpanel" aria-labelledby="faq1_h2">
              <div class="block-content pb-20">
                <p>Ủng hộ online sử dụng tài khoản PAYPAL.</p>
                <div class="btn btn-primary btn-noborder" id="donate-paypal"><i class="fas fa-arrow-right"></i> Tiếp tục</div>
              </div>
            </div>
          </div>
          <div class="block block-rounded mb-5">
            <div class="block-header block-header-default" role="tab" id="faq1_h3">
              <a class="block-title font-w600 text-body-color-dark" data-toggle="collapse" data-parent="#faq1" href="#faq1_q3" aria-expanded="true" aria-controls="faq1_q3"><i class="fas fa-university fa-fw"></i> ỦNG HỘ CHUYỂN KHOẢN TRỰC TIẾP</a>
            </div>
            <div id="faq1_q3" class="collapse" role="tabpanel" aria-labelledby="faq1_h3">
              <div class="block-content pb-20">
                <div class="row">
                  <div class="col-md-6">
                    <img class="img-fluid" src="/Content/images/donate/agri.png">
                  </div>
                  <div class="col-md-6">
                    <img class="img-fluid" src="/Content/images/donate/vcb.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>


    </main>
    <%- include('../layout/footer'); %>
  </div>
  <div class="modal fade" id="authen-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="block block-themed block-transparent">
          <div class="block-header bg-primary-dark">
            <h3 class="block-title font-w600">Yêu cầu đăng nhập</h3>
            <div class="block-options">
              <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                <i class="si si-close"></i>
              </button>
            </div>
          </div>
          <div class="block-content">
            <div class="text-center p-20 border">
              <p class="mb-10">Để sử dụng tính năng này, Bạn cần đăng nhập bằng tài khoản MYCLASS.</p>
              <a class="btn btn-primary btn-noborder" href="/login">Đăng nhập</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="create-donate-modal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="block block-themed block-transparent">
          <div class="block-header bg-primary-dark">
            <h3 class="block-title font-w600">Ủng hộ MYCLASS</h3>
            <div class="block-options">
              <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                <i class="si si-close"></i>
              </button>
            </div>
          </div>
          <div class="block-content">
            <form method="post" action="/pay" id="form-donate">
              <input class="form-control form-control-lg" style="display: none;" name="user_name"value="<% if(user){ %><%- `${user.firstname} ${user.lastname}` %> <% } %>">
              <input class="form-control form-control-lg"  style="display: none;" name="user_id" value="<% if(user){ %><%=user._id %><% } %>">
              <input class="form-control form-control-lg"  style="display: none;" name="avatar" value="<% if(user){ %><%=user.avatar %><% } %>">
              <span class="field-validation text-danger" data-valmsg-for="Body" data-valmsg-replace="true">Vui lòng nhập đủ thông tin</span>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="Title">Số tiền ủng hộ(USD)</label>
                    <input class="form-control form-control-lg" type="number" id="amount-donate" style="width: 180px" name="amount">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="Body">Nội dung</label>
                    <textarea class="form-control form-control-lg" cols="4" data-val="true" id="content-donate" name="content" placeholder="Nội dung" rows="4"></textarea>

                  </div>
                </div>

                <div class="col-md-12">
                  <div class="text-right">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Hủy bỏ</button>
                    <button type="button" id="submit-donate" class="btn btn-success  min-width-100"><i class="fas fa-cloud-upload"></i> Ủng hộ</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>



<script src="/js/layout/common-libs-v=KeX6O5qBHXp8hnCvOctyAewLoNbgYGAqeVBfuCOOl_41.js"></script>
<script src="/js/layout/hubs.js"></script>
<script src="/js/layout/theme-libs-v=flWwMHqqG4vF5_S78OkkZmbgib5d81EN11q97eVmyjk1.js"></script>
<script src="/js/layout/js-v=RBijanojz1bp28r6ZUS4cWfovfa1gOATZhiHYkkjzVo1.js"></script>
<script src="/js/layout/common-v=5WmZiv4HuIV-gt1ets7IC2aEarKWhzqG_TwZPwLi1TQ1.js"></script>
<script src="/js/layout/cmt-v=65dISZQsn5VeLZedj3SFRm92FDw6tiXebwIpHpvT1nY1.js"></script>


<script src="/bundles/jqueryval?v=WhRmI8vUVF186UwYB1zRP7-DwJzqpKlt0JksOBJvolw1"></script>

<script>
  $("a.side-nav-donate").addClass("active");
  document.getElementById("a-nav-donate").className += " active";


  $(document).ready(function() {
    $('#donate-paypal').on('click', function() {
      if (_userId) {
        $('#create-donate-modal').modal();
        $('.field-validation').hide();
      } else {
        $('#authen-modal').modal();
      }
    })
    $('#submit-donate').on('click', function() {
      let amount = $('#amount-donate').val(),
        content = $('#content-donate').val();
      if (amount && content) {
        $('.field-validation').hide();
        $('#form-donate').submit();
      } else {
        $('.field-validation').show();
      }


    })
  });
</script>