<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title data-title=" <% if(course){ %> <%= course.name %> <% } %>"> <% if(course){ %> <%= course.name %> <% } %> | MYCLASS</title>

  <link href="/css/styles-v=x4RW60atpIurWojGx_tZLVnh4oDpgbF2hGWxJiMjAGM1.css" rel="stylesheet" />

  <link href="/css/common-v=mjfzwyxul6gbnDVQmoNbszXxFbDZ9PtP-RQfZsN9oLA1.css" rel="stylesheet" />

  <link href="/css/cmt-v=iFnEdsc0aWB7ErYBJCquEdtuLN598jdqlemVQiSAWT81.css" rel="stylesheet" />

  <link href="/css/course.css" rel="stylesheet" />

</head>

<body>
  <div id="page-container" class="sidebar-o side-scroll page-header-glass page-header-inverse page-header-fixed main-content-narrow sidebar-inverse side-trans-enabled page-header-scroll" style="height: auto !important;">
    <%- include('../layout/sidebar'); %>
    <%- include('../layout/menu'); %>
    <%- include('../layout/header'); %>

    <!-- Main Container -->
    <main id="main-container" style="height: auto !important; min-height: 245.8px;">



      <!-- Hero -->
      <div class="bg-image" style="background-image: url('/images/code.jpg');">
        <div class="bg-black-op">
          <div class="content">
            <div class="py-50 mt-20">
              <% if(course){ %>



              <h1 class="h2 text-white font-w700 mb-10"><%= course.name %></h1>

              <a class="d-block text-white-op mb-10" href="javascript:void(0);" data-toggle="scroll-to" data-target="#review-wrapper">

                <div class="text-warning d-inline">
                  <% for(var i=0; i < course.star; i++) { %>
                  <i class="fa fa-fw fa-star"></i>
                  <% } %>
                  <% for(var i=0; i < 5 - course.star; i++) { %>
                  <i class="far fa-fw fa-star"></i>
                  <% } %>
                </div>
                <div class="d-inline">
                  <span class="font-size-h5 font-w600 text-white"> <%= course.star %></span> (<strong class="text-white"><%= course.rate_number %></strong> đánh giá)
                </div>
              </a>
              <div class="text-white-op mb-20">
                <span class="mr-15">
                  Tác giả <a class="link-effect font-w600" href=""><%= course.user_name %></a>
                </span>
                <span class="mr-15 mt-5 d-block d-md-inline">
                  <i class="fa fa-fw fa-book mr-5"></i><span class="font-w600 text-white"><%= course.lession_number %></span> bài học
                </span>
                <span class="mr-15 mt-5 d-block d-md-inline">
                  <i class="far fa-fw fa-eye mr-5"></i><span class="font-w600 text-white"><%= course.view %></span> lượt xem
                </span>
                <span class="mr-15 mt-5 d-block d-md-inline">
                  <i class="far fa-fw fa-comment mr-5"></i><span class="font-w600 text-white"><%= course.comment_number %></span> bình luận
                </span>
              </div>

              <% } %>


              <a class="btn btn-primary btn-noborder btn-startLecture" href="#">
                Bắt đầu học
                <i class="fas fa-arrow-right fa-fw"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- END Hero -->


      <div class="fixed-social-left d-none d-xl-block">

        <span class="bookmark-desktop">
          <div class="btn-sticky-left btn-secondary text-secondary bookmark- js-tooltip-enabled" onclick="Kteam.saveBookmark('', '0', '/bookmark/create'); return false;" data-toggle="tooltip" data-placement="right" data-original-title="Lưu bài viết">
            <i class="far fa-bookmark"></i>
          </div>

        </span>
      </div>

      <!-- Courses -->
      <div class="content" style="height: auto !important;">
        <!-- Breadcrumb -->
        <nav class="breadcrumb bg-white push">
          <a class="breadcrumb-item" href="/"><i class="fas fa-home"></i></a>
          <a class="breadcrumb-item" href="/learn">Khóa học</a>
          <!-- <a class="breadcrumb-item" href="/learn/lap-trinh-7">Lập trình</a>
          <a class="breadcrumb-item" href="/learn/lap-trinh/lap-trinh-python-7-37">Lập trình Python</a> -->
          <span class="breadcrumb-item active"> <% if(course){ %> <%= course.name %> <% } %> </span>
        </nav>
        <!-- END Breadcrumb -->

        <div class="row row-deck">
          <div class="col-xl-8">
            <div class="block block-rounded block-fx-shadow">
              <div class="auto-resizable-iframe"><iframe class="width-changed"></iframe>
                <div>
                  <iframe oncontextmenu="return false" id="ytplayer" height="538" type="text/html" frameborder="0" allowfullscreen="" autoplay="true"></iframe>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <!-- Course Info -->
            <div class="block block-rounded block-fx-shadow">
              <div class="block-header block-header-default bg-gd-primary">
                <h3 class="block-title font-w600 text-white">
                  <i class="fa fa-fw fa-list"></i>
                  Danh sách bài học
                </h3>
                <div class="block-options d-lg-none">
                  <button type="button" class="btn-block-option text-white" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
                </div>
              </div>
              <div class="block-content p-0">
                <div class="asyncPartial">
                  <div class="block-content">
                    <div class="input-group mb-2">
                      <input type="text" id="input-search-lecture" class="form-control" placeholder="Tìm bài học...">
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                      </div>
                    </div>
                  </div>

                  <div class="slimScrollDiv" style="position: relative; overflow: auto; width: auto; height: 399.15px;">
                    <div id="lectures-list" class="block-content block-content-sm px-0" data-height="0px" style="overflow: auto; width: auto; height: 399.15px;">
                      <div class="list-group">
                        
                        <% if(lession){ %>
                        <% lession.forEach(function (item, index) { %>

                        <div id="lecture-<%= index+1 %>" class="lecture-item list-group-item list-group-item-action border-0 " href="<%= item.link %>" style="cursor: pointer;">
                          <span class=""> <%= index+1 %>. </span>
                          <%= item.name %>
                        </div>

                        <% }) %>
                        <% } %>


                      </div>
                    </div>
                    <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 24px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 30px;"></div>
                    <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                  </div>


                  
                </div>
              </div>
            </div>
            <!-- END Course Info -->
          </div>
        </div>


        <div class="my-15">

        </div>

        <div class="row" style="height: auto !important;">
          <div class="col-xl-12" style="height: auto !important; min-height: 0px !important;">
            <div class="block block-rounded block-fx-shadow" style="height: auto !important;">
              <div class="block-content block-content-full border-b clearfix">
                <div class="btn-group float-right">
                  <a class="btn btn-primary btn-noborder btn-startLecture" href="#">
                    <i class="fa fa-arrow-right mr-5"></i> Bắt đầu học
                  </a>
                </div>
                <h2 class="m-0 font-size-h2"> <% if(course){ %> <%= course.name %> <% } %></h2>
                <div class="mt-10 d-block d-xl-none">
                  <button class="btnShareFb btn btn-primary btn-noborder btn-circle mr-5 js-tooltip-enabled" data-url="https://www.howkteam.vn/course/bai-tap-python-tu-luyen-69" data-title="Bài tập Python tự luyện" data-description="Serial dành cho những bạn cần luyện tập phương pháp, tu duy lập trình. Làm quen với các bài toán trong lập trình, ngẫu nhiên từ cơ bản đến nâng cao. Nội dung..." data-image="https://f.howkteam.vn/Upload/cke/images/1_LOGO%20SHOW%20WEB/3_Python/4_Bai%20Tap%20Python/0_Bai-tap-python.png" data-toggle="tooltip" data-placement="right" data-original-title="Chia sẻ lên facebook">
                    <i class="fab fa-facebook-f fa-fw"></i>
                  </button>
                  <span class="bookmark-mobile">
                    <div class="btn-secondary text-secondary bookmark- js-tooltip-enabled btn btn-circle" onclick="Kteam.saveBookmark('', '0', '/bookmark/create'); return false;" data-toggle="tooltip" data-placement="right" data-original-title="Lưu bài viết">
                      <i class="far fa-bookmark"></i>
                    </div>

                  </span>
                </div>
              </div>

              <!-- description -->
              <% if(course){ %>
              <%- course.description %>

              <% } %>
            </div>
          </div>

          <div class="col-xl-4">
            <div class="row">
              <div class="col-12">

              </div>
              <div class="col-12">
                <div class="block block-rounded block-fx-shadow" id="review-wrapper">
                  <div class="block-header">
                    <h3 class="block-title font-w600">Đánh giá</h3>
                  </div>
                  <div class="block-content pt-0 asyncPartial" id="review-container">

                    <div class="row">
                      <div class="col-4 text-center">
                        <div class="font-size-h1">
                          5.0
                        </div>
                        <a href="#" class="d-block text-warning font-size-sm mb-5" onclick="createReview('69', 'Course', '/review/create'); return false;">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="far fa-star"></i>
                        </a>
                        <div class="mb-10">
                          <span class="fa fa-user fa-fw mr-5"></span>241 đánh giá
                        </div>
                        <a href="#" onclick="createReview('69', 'Course', '/review/create'); return false;" class="btn btn-warning text-dark btn-sm btn-block btn-noborder">Đánh giá</a>
                      </div>
                      <div class="col-7">
                        <div class="clearfix position-relative font-size-sm mb-10">
                          <div class="float-left mr-10">
                            <i class="fa fa-fw fa-star text-warning"></i> 5
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="position-absolute" style="right: -15px; top: 0">
                            23
                          </div>
                        </div>
                        <div class="clearfix position-relative font-size-sm mb-10">
                          <div class="float-left mr-10">
                            <i class="fa fa-fw fa-star text-warning"></i> 4
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="position-absolute" style="right: -15px; top: 0">
                            2
                          </div>
                        </div>
                        <div class="clearfix position-relative font-size-sm mb-10">
                          <div class="float-left mr-10">
                            <i class="fa fa-fw fa-star text-warning"></i> 3
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="position-absolute" style="right: -15px; top: 0">
                            1
                          </div>
                        </div>
                        <div class="clearfix position-relative font-size-sm mb-10">
                          <div class="float-left mr-10">
                            <i class="fa fa-fw fa-star text-warning"></i> 2
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="position-absolute" style="right: -15px; top: 0">

                          </div>
                        </div>
                        <div class="clearfix position-relative font-size-sm mb-10">
                          <div class="float-left mr-10">
                            <i class="fa fa-fw fa-star text-warning"></i> 1
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="position-absolute" style="right: -15px; top: 0">
                            1
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block-content">
                    <div id="review-list" class="mb-20">

                      <div class="comment-item" id="review-14078">
                        <div class="media">
                          <div class="media-left">
                            <a href="/users/eb0b7b71-d5b8-4c17-bbfb-6c9eb04d2a32">
                              <img class="media-object avatar-sm" src="/images/avatar.png">
                            </a>
                          </div>
                          <div class="media-body">
                            <div class="comment-replacement">
                              <div class="comment-heading text-muted">
                                <a class="comment-author-name" href="/users/eb0b7b71-d5b8-4c17-bbfb-6c9eb04d2a32">AnonyN</a>
                                <span>đã đánh giá</span>
                                <strong class="format-time" title="2021-09-22 17:12:52">khoảng 6 giờ trước</strong>
                              </div>
                              <div class="review-star">
                                <span class="fa fa-star text-warning"></span>
                                <span class="fa fa-star text-warning"></span>
                                <span class="fa fa-star text-warning"></span>
                                <span class="fa fa-star text-warning"></span>
                                <span class="fa fa-star text-warning"></span>
                              </div>
                              <p class="mb-0 review-body">

                              </p>
                            </div>
                            <div class="comment-footer">
                              <a class="float-right report-discuss" href="#" onclick="Kteam.createReport(14078, 'Review'); return false;">
                                <i class="far fa-flag fa-fw" aria-hidden="true"></i> Báo cáo
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="comment-item" id="review-14075">
                        <div class="media">
                          <div class="media-left">
                            <a href="/users/f795dda5-8b05-46c6-b847-4c9c8a551738">
                              <img class="media-object avatar-sm" src="/images/avatar.png">
                            </a>
                          </div>
                          <div class="media-body">
                            <div class="comment-replacement">
                              <div class="comment-heading text-muted">
                                <a class="comment-author-name" href="/users/f795dda5-8b05-46c6-b847-4c9c8a551738">Mai Anh Tài</a>
                                <span>đã đánh giá</span>
                                <strong class="format-time" title="2021-09-21 18:47:09">1 ngày trước</strong>
                              </div>
                              <div class="review-star">
                                <span class="fa fa-star text-warning"></span>
                                <span class="fa fa-star text-warning"></span>
                                <span class="fa fa-star text-warning"></span>
                                <span class="fa fa-star text-warning"></span>
                                <span class="fa fa-star text-warning"></span>
                              </div>
                              <p class="mb-0 review-body">

                              </p>
                            </div>
                            <div class="comment-footer">
                              <a class="float-right report-discuss" href="#" onclick="Kteam.createReport(14075, 'Review'); return false;">
                                <i class="far fa-flag fa-fw" aria-hidden="true"></i> Báo cáo
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="comment-item" id="review-14074">
                        <div class="media">
                          <div class="media-left">
                            <a href="/users/eb0b7b71-d5b8-4c17-bbfb-6c9eb04d2a32">
                              <img class="media-object avatar-sm" src="/Content/images/avatar/avatar.png">
                            </a>
                          </div>
                          <div class="media-body">
                            <div class="comment-replacement">
                              <div class="comment-heading text-muted">
                                <a class="comment-author-name" href="/users/eb0b7b71-d5b8-4c17-bbfb-6c9eb04d2a32">AnonyN</a>
                                <span>đã đánh giá</span>
                                <strong class="format-time" title="2021-09-21 17:10:38">1 ngày trước</strong>
                              </div>
                              <div class="review-star">
                                <span class="fa fa-star text-warning"></span>
                                <span class="fa fa-star text-warning"></span>
                                <span class="fa fa-star text-warning"></span>
                                <span class="fa fa-star text-warning"></span>
                                <span class="fa fa-star text-warning"></span>
                              </div>
                              <p class="mb-0 review-body">

                              </p>
                            </div>
                            <div class="comment-footer">
                              <a class="float-right report-discuss" href="#" onclick="Kteam.createReport(14074, 'Review'); return false;">
                                <i class="far fa-flag fa-fw" aria-hidden="true"></i> Báo cáo
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="comment-item" id="review-14072">
                        <div class="media">
                          <div class="media-left">
                            <a href="/users/f795dda5-8b05-46c6-b847-4c9c8a551738">
                              <img class="media-object avatar-sm" src="/Content/images/avatar/avatar.png">
                            </a>
                          </div>
                          <div class="media-body">
                            <div class="comment-replacement">
                              <div class="comment-heading text-muted">
                                <a class="comment-author-name" href="/users/f795dda5-8b05-46c6-b847-4c9c8a551738">Mai Anh Tài</a>
                                <span>đã đánh giá</span>
                                <strong class="format-time" title="2021-09-21 09:34:34">1 ngày trước</strong>
                              </div>
                              <div class="review-star">
                                <span class="fa fa-star text-warning"></span>
                                <span class="fa fa-star text-warning"></span>
                                <span class="fa fa-star text-warning"></span>
                                <span class="fa fa-star text-warning"></span>
                                <span class="fa fa-star text-warning"></span>
                              </div>
                              <p class="mb-0 review-body">

                              </p>
                            </div>
                            <div class="comment-footer">
                              <a class="float-right report-discuss" href="#" onclick="Kteam.createReport(14072, 'Review'); return false;">
                                <i class="far fa-flag fa-fw" aria-hidden="true"></i> Báo cáo
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="comment-item" id="review-14070">
                        <div class="media">
                          <div class="media-left">
                            <a href="/users/eb0b7b71-d5b8-4c17-bbfb-6c9eb04d2a32">
                              <img class="media-object avatar-sm" src="/Content/images/avatar/avatar.png">
                            </a>
                          </div>
                          <div class="media-body">
                            <div class="comment-replacement">
                              <div class="comment-heading text-muted">
                                <a class="comment-author-name" href="/users/eb0b7b71-d5b8-4c17-bbfb-6c9eb04d2a32">AnonyN</a>
                                <span>đã đánh giá</span>
                                <strong class="format-time" title="2021-09-20 16:55:31">2 ngày trước</strong>
                              </div>
                              <div class="review-star">
                                <span class="fa fa-star text-warning"></span>
                                <span class="fa fa-star text-warning"></span>
                                <span class="fa fa-star text-warning"></span>
                                <span class="fa fa-star text-warning"></span>
                                <span class="fa fa-star text-warning"></span>
                              </div>
                              <p class="mb-0 review-body">

                              </p>
                            </div>
                            <div class="comment-footer">
                              <a class="float-right report-discuss" href="#" onclick="Kteam.createReport(14070, 'Review'); return false;">
                                <i class="far fa-flag fa-fw" aria-hidden="true"></i> Báo cáo
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- <button id="review-show-more" class="btn btn-outline-primary btn-block mt-20 mb-20" data-action="/review/reviewlist/4158?page=2&amp;type=2">Xem thêm ...</button> -->

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-8" style="height: auto !important; min-height: 0px !important;">
            <div class="block block-rounded block-fx-shadow">
              <div class="block-header">
                <h3 class="block-title font-w600">Bình luận</h3>
              </div>
              <div class="block-content pt-0">
                <div class="media">
                  <div class="media-left d-none d-sm-block pr-10">
                    <img class="media-object avatar" src="/Content/images/avatar/avatar.png">
                  </div>
                  <div class="media-body">
                    <div class="text-center p-20 border">
                      <p class="mb-10">Để bình luận, bạn cần đăng nhập bằng tài khoản Howkteam.</p>
                      <a class="btn btn-primary btn-noborder btn-rounded" href="/account/login?ReturnUrl=%2Fcourse%2Fbai-tap-python-tu-luyen-69">Đăng nhập</a>
                    </div>
                  </div>
                </div>

              </div>
              <div class="block-content">
                <div id="comment-list" class="mb-20">

                  <div class="comment-item" id="comment-item-24401">
                    <div class="media">
                      <div class="media-left">
                        <a href="/users/4deff1a7-3220-4813-836e-6a5ea35e1ca2">
                          <img class="media-object avatar" src="/Content/images/avatar/avatar.png">
                        </a>

                      </div>
                      <div class="media-body overflow-y-auto" id="comment-body-24401">
                        <div class="comment-replacement" id="comment-replacement-24401">
                          <div class="comment-heading text-muted">
                            <a class="comment-author-name" href="/users/4deff1a7-3220-4813-836e-6a5ea35e1ca2">27hohuuduc01</a>
                            <span>đã bình luận</span>
                            <strong class="format-time" title="2021-08-20 21:43:59">khoảng 1 tháng trước</strong>
                          </div>
                          <div class="comment-body">

                            <p>Chúc ông ngủ ngon :v</p>
                            <p>&nbsp;</p>

                          </div>
                        </div>
                        <div class="comment-footer">


                          <div class="btn-group btn-group-sm vote-comment-container" role="group">
                            <a class="Upvote text-secondary btn btn-secondary js-tooltip-enabled" href="#" data-toggle="tooltip" data-placement="bottom" title="" onclick="voteDiscuss(24401, 'Upvote'); return false;" data-original-title="Bình luận này rất hữu ích"><i class="fas fa-arrow-up font-size-h5 fa-fw"></i><span>2</span></a>
                            <a class="Downvote text-secondary btn btn-secondary js-tooltip-enabled" href="#" data-toggle="tooltip" data-placement="bottom" title="" onclick="voteDiscuss(24401, 'Downvote'); return false;" data-original-title="Bình luận này không hữu ích"><i class="fas fa-arrow-down font-size-h5 fa-fw"></i><span>0</span></a>
                          </div>

                          <a class="btn btn-secondary btn-rounded btn-sm btn-noborder" href="#" onclick="OpenReplyForm(24401); return false;">Trả lời</a>
                          <a class="float-right report-discuss btn btn-alt-danger btn-rounded btn-sm" href="#" onclick="Kteam.createReport(24401, 'Discuss'); return false;">
                            <i class="far fa-flag fa-fw" aria-hidden="true"></i> Báo cáo
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="comment-item" id="comment-item-23767">
                    <div class="media">
                      <div class="media-left">
                        <a href="/users/d7736a0c-5be7-4473-8537-42a57fd5aa3b">
                          <img class="media-object avatar" src="/Content/images/avatar/avatar.png">
                        </a>

                      </div>
                      <div class="media-body overflow-y-auto" id="comment-body-23767">
                        <div class="comment-replacement" id="comment-replacement-23767">
                          <div class="comment-heading text-muted">
                            <a class="comment-author-name" href="/users/d7736a0c-5be7-4473-8537-42a57fd5aa3b">hsdghđ</a>
                            <span>đã bình luận</span>
                            <strong class="format-time" title="2021-08-05 09:53:14">2 tháng trước</strong>
                          </div>
                          <div class="comment-body">

                            <p>tại sao phải bỏ kí tự xuống dòng v mn</p>
                            <p>&nbsp;</p>

                          </div>
                        </div>
                        <div class="comment-footer">


                          <div class="btn-group btn-group-sm vote-comment-container" role="group">
                            <a class="Upvote text-secondary btn btn-secondary js-tooltip-enabled" href="#" data-toggle="tooltip" data-placement="bottom" title="" onclick="voteDiscuss(23767, 'Upvote'); return false;" data-original-title="Bình luận này rất hữu ích"><i class="fas fa-arrow-up font-size-h5 fa-fw"></i><span>0</span></a>
                            <a class="Downvote text-secondary btn btn-secondary js-tooltip-enabled" href="#" data-toggle="tooltip" data-placement="bottom" title="" onclick="voteDiscuss(23767, 'Downvote'); return false;" data-original-title="Bình luận này không hữu ích"><i class="fas fa-arrow-down font-size-h5 fa-fw"></i><span>0</span></a>
                          </div>

                          <a class="btn btn-secondary btn-rounded btn-sm btn-noborder" href="#" onclick="OpenReplyForm(23767); return false;">Trả lời</a>
                          <a class="float-right report-discuss btn btn-alt-danger btn-rounded btn-sm" href="#" onclick="Kteam.createReport(23767, 'Discuss'); return false;">
                            <i class="far fa-flag fa-fw" aria-hidden="true"></i> Báo cáo
                          </a>
                        </div>
                        <button class="btn btn-link btn-showReply" data-id="23767" data-count="2" data-show="-1" data-action="/discuss/replylist/23767">Xem tất cả 2 câu trả lời</button>
                      </div>
                    </div>
                  </div>
                  <div class="comment-item" id="comment-item-23728">
                    <div class="media">
                      <div class="media-left">
                        <a href="/users/ebfd0328-f1ef-4653-a23b-f5b6717def9f">
                          <img class="media-object avatar" src="/Content/images/avatar/avatar.png">
                        </a>

                      </div>
                      <div class="media-body overflow-y-auto" id="comment-body-23728">
                        <div class="comment-replacement" id="comment-replacement-23728">
                          <div class="comment-heading text-muted">
                            <a class="comment-author-name" href="/users/ebfd0328-f1ef-4653-a23b-f5b6717def9f">pythoner2003</a>
                            <span>đã bình luận</span>
                            <strong class="format-time" title="2021-08-02 21:32:02">2 tháng trước</strong>
                          </div>
                          <div class="comment-body">

                            <p>giúp em với ạ em chạy chương trình trên subline text 3 ạ và nó chỉ chạy được dòng đầu tiên "nhập số thứ nhất" và em đã nhập số vào rồi mà nó không chạy tiếp chỉ đứng yên một chổ vậy ạ . mong admin giúp em&nbsp;<br>
                              &nbsp;</p>

                          </div>
                        </div>
                        <div class="comment-footer">


                          <div class="btn-group btn-group-sm vote-comment-container" role="group">
                            <a class="Upvote text-secondary btn btn-secondary js-tooltip-enabled" href="#" data-toggle="tooltip" data-placement="bottom" title="" onclick="voteDiscuss(23728, 'Upvote'); return false;" data-original-title="Bình luận này rất hữu ích"><i class="fas fa-arrow-up font-size-h5 fa-fw"></i><span>0</span></a>
                            <a class="Downvote text-secondary btn btn-secondary js-tooltip-enabled" href="#" data-toggle="tooltip" data-placement="bottom" title="" onclick="voteDiscuss(23728, 'Downvote'); return false;" data-original-title="Bình luận này không hữu ích"><i class="fas fa-arrow-down font-size-h5 fa-fw"></i><span>0</span></a>
                          </div>

                          <a class="btn btn-secondary btn-rounded btn-sm btn-noborder" href="#" onclick="OpenReplyForm(23728); return false;">Trả lời</a>
                          <a class="float-right report-discuss btn btn-alt-danger btn-rounded btn-sm" href="#" onclick="Kteam.createReport(23728, 'Discuss'); return false;">
                            <i class="far fa-flag fa-fw" aria-hidden="true"></i> Báo cáo
                          </a>
                        </div>
                        <button class="btn btn-link btn-showReply" data-id="23728" data-count="1" data-show="-1" data-action="/discuss/replylist/23728">Xem tất cả 1 câu trả lời</button>
                      </div>
                    </div>
                  </div>
                  <div class="comment-item" id="comment-item-23635">
                    <div class="media">
                      <div class="media-left">
                        <a href="/users/fb6515e8-964d-4649-9bbf-29f8601bee4c">
                          <img class="media-object avatar" src="/Content/images/avatar/avatar.png">
                        </a>

                      </div>
                      <div class="media-body overflow-y-auto" id="comment-body-23635">
                        <div class="comment-replacement" id="comment-replacement-23635">
                          <div class="comment-heading text-muted">
                            <a class="comment-author-name" href="/users/fb6515e8-964d-4649-9bbf-29f8601bee4c">hale33</a>
                            <span>đã bình luận</span>
                            <strong class="format-time" title="2021-07-30 10:07:40">2 tháng trước</strong>
                          </div>
                          <div class="comment-body">

                            <p>Quá tuyệt vời, Howkteam quá pro, nhiệt huyết</p>

                          </div>
                        </div>
                        <div class="comment-footer">


                          <div class="btn-group btn-group-sm vote-comment-container" role="group">
                            <a class="Upvote text-secondary btn btn-secondary js-tooltip-enabled" href="#" data-toggle="tooltip" data-placement="bottom" title="" onclick="voteDiscuss(23635, 'Upvote'); return false;" data-original-title="Bình luận này rất hữu ích"><i class="fas fa-arrow-up font-size-h5 fa-fw"></i><span>0</span></a>
                            <a class="Downvote text-secondary btn btn-secondary js-tooltip-enabled" href="#" data-toggle="tooltip" data-placement="bottom" title="" onclick="voteDiscuss(23635, 'Downvote'); return false;" data-original-title="Bình luận này không hữu ích"><i class="fas fa-arrow-down font-size-h5 fa-fw"></i><span>0</span></a>
                          </div>

                          <a class="btn btn-secondary btn-rounded btn-sm btn-noborder" href="#" onclick="OpenReplyForm(23635); return false;">Trả lời</a>
                          <a class="float-right report-discuss btn btn-alt-danger btn-rounded btn-sm" href="#" onclick="Kteam.createReport(23635, 'Discuss'); return false;">
                            <i class="far fa-flag fa-fw" aria-hidden="true"></i> Báo cáo
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="comment-item" id="comment-item-22718">
                    <div class="media">
                      <div class="media-left">
                        <a href="/users/7844cc3a-8e03-4022-ac69-b64eae802576">
                          <img class="media-object avatar" src="/Content/images/avatar/avatar.png">
                        </a>

                      </div>
                      <div class="media-body overflow-y-auto" id="comment-body-22718">
                        <div class="comment-replacement" id="comment-replacement-22718">
                          <div class="comment-heading text-muted">
                            <a class="comment-author-name" href="/users/7844cc3a-8e03-4022-ac69-b64eae802576">tranngoctu792</a>
                            <span>đã bình luận</span>
                            <strong class="format-time" title="2021-06-08 12:24:29">4 tháng trước</strong>
                          </div>
                          <div class="comment-body">

                            <p>cảm ơn Kteam</p>

                          </div>
                        </div>
                        <div class="comment-footer">


                          <div class="btn-group btn-group-sm vote-comment-container" role="group">
                            <a class="Upvote text-secondary btn btn-secondary js-tooltip-enabled" href="#" data-toggle="tooltip" data-placement="bottom" title="" onclick="voteDiscuss(22718, 'Upvote'); return false;" data-original-title="Bình luận này rất hữu ích"><i class="fas fa-arrow-up font-size-h5 fa-fw"></i><span>1</span></a>
                            <a class="Downvote text-secondary btn btn-secondary js-tooltip-enabled" href="#" data-toggle="tooltip" data-placement="bottom" title="" onclick="voteDiscuss(22718, 'Downvote'); return false;" data-original-title="Bình luận này không hữu ích"><i class="fas fa-arrow-down font-size-h5 fa-fw"></i><span>0</span></a>
                          </div>

                          <a class="btn btn-secondary btn-rounded btn-sm btn-noborder" href="#" onclick="OpenReplyForm(22718); return false;">Trả lời</a>
                          <a class="float-right report-discuss btn btn-alt-danger btn-rounded btn-sm" href="#" onclick="Kteam.createReport(22718, 'Discuss'); return false;">
                            <i class="far fa-flag fa-fw" aria-hidden="true"></i> Báo cáo
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <button class="btn btn-outline-primary btn-block mt-20 mb-20" data-toggle="button-showmore-comment" data-action="/discuss/commentlist/69?page=2&amp;type=1">Xem thêm ...</button> -->

                </div>
                <!-- END Discussion -->
              </div>
            </div>



          </div>
        </div>
      </div>
      <!-- END Courses -->

    </main>
    <!-- END Main Container -->

    <%- include('../layout/footer'); %>


  </div>
  <!-- END Page Container -->

  <script src="/js/layout/common-libs-v=KeX6O5qBHXp8hnCvOctyAewLoNbgYGAqeVBfuCOOl_41.js"></script>

  <script src="/js/layout/hubs.js"></script>

  <script src="/js/layout/theme-libs-v=flWwMHqqG4vF5_S78OkkZmbgib5d81EN11q97eVmyjk1.js"></script>

  <script src="/js/layout/js-v=RBijanojz1bp28r6ZUS4cWfovfa1gOATZhiHYkkjzVo1.js"></script>



  <div>

    <div class="sidebar-messenger">
      <div>
        <div class="block-content block-content-full block-content-sm block-header">
          <div>Quan tâm</div>
          <div class="block-options">
            <div class="d-inline-block js-tooltip-enabled" data-toggle="tooltip" data-placement="bottom" data-original-title="Tạo câu hỏi mới">
              <a href="#" data-toggle="btn-create-question" class="text-white btn-block-option">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus feather-16">
                  <line x1="12" y1="5" x2="12" y2="19"></line>
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg>
              </a>
            </div>
            <div class="d-inline-block js-tooltip-enabled" data-toggle="tooltip" data-placement="bottom" data-original-title="Nhóm chat">
              <a class="text-white btn-block-option" href="/messenger/rooms">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users feather-16">
                  <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                  <circle cx="9" cy="7" r="4"></circle>
                  <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>
              </a>
            </div>
            <div class="dropdown">
              <a href="#" class="text-white btn-block-option" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal feather-16">
                  <circle cx="12" cy="12" r="1"></circle>
                  <circle cx="19" cy="12" r="1"></circle>
                  <circle cx="5" cy="12" r="1"></circle>
                </svg>
              </a>
              <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-67px, 29px, 0px);">
                <a class="dropdown-item" href="/tags?tab=mine">
                  <i class="fas fa-fw fa-tags mr-5"></i> Tag theo dõi
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="newest-chatlist-container" class="block-content block-content-full block-content-sm overflow-y-auto">
          <div class="asyncPartial" data-url="/messenger/newestquestionchatlist?page=1">


            <div class="chat-list">
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52760">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Hỏi về tool ADB Capture</span>
                    <div class="chat-item-desc format-time" title="2021-09-22 12:40:38">khoảng 10 giờ trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/hoi-ve-tool-adb-capture-52760" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52759">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading"> HowKteam được tạo ra bằng ngôn ngữ gì, công nghệ nào?</span>
                    <div class="chat-item-desc format-time" title="2021-09-21 22:41:27">1 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/howkteam-duoc-tao-ra-bang-ngon-ngu-gi-cong-nghe-nao-52759" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52758">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">cần tư vấn ngôn ngữ lập trình cho An ninh mạng và ethical hacker</span>
                    <div class="chat-item-desc format-time" title="2021-09-21 18:40:27">1 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/can-tu-van-ngon-ngu-lap-trinh-cho-an-ninh-mang-va-ethical-hacker-52758" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52757">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Lộ trình C#</span>
                    <div class="chat-item-desc format-time" title="2021-09-21 16:13:29">1 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/lo-trinh-c-52757" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52756">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Danh sách Queue</span>
                    <div class="chat-item-desc format-time" title="2021-09-21 15:33:16">1 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/danh-sach-queue-52756" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52755">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Giúp tạo table html</span>
                    <div class="chat-item-desc format-time" title="2021-09-21 14:00:03">1 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/giup-tao-table-html-52755" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52754">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Hỏi về khóa học</span>
                    <div class="chat-item-desc format-time" title="2021-09-21 13:23:54">1 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/hoi-ve-khoa-hoc-52754" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52753">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Em muốn nhận tư vấn từ mọi người ạ </span>
                    <div class="chat-item-desc format-time" title="2021-09-21 09:48:54">1 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/em-muon-nhan-tu-van-tu-moi-nguoi-a-52753" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52751">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Giải thích ý nghĩa câu lệnh trong Python</span>
                    <div class="chat-item-desc format-time" title="2021-09-20 22:07:09">2 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/giai-thich-y-nghia-cau-lenh-trong-python-52751" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52750">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Javascript Replace </span>
                    <div class="chat-item-desc format-time" title="2021-09-20 14:30:17">2 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/javascript-replace-52750" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52749">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Lộ trình học Android</span>
                    <div class="chat-item-desc format-time" title="2021-09-20 10:09:30">3 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/lo-trinh-hoc-android-52749" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52746">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Các cao nhân cho em hỏi về việc add extensions trên selenium bằng c#</span>
                    <div class="chat-item-desc format-time" title="2021-09-19 17:31:38">3 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/cac-cao-nhan-cho-em-hoi-ve-viec-add-extensions-tren-selenium-bang-c-52746" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52745">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">khi ra làm việc công ty , họ sẽ yêu cầu mình có ngôn ngữ nào vd javacript hay python</span>
                    <div class="chat-item-desc format-time" title="2021-09-18 23:07:33">4 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/khi-ra-lam-viec-cong-ty-ho-se-yeu-cau-minh-co-ngon-ngu-nao-vd-javacript-hay-python-52745" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52744">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">WebBrowser trong WPF không hiển thi được khi set AllowsTransparency="True"</span>
                    <div class="chat-item-desc format-time" title="2021-09-18 17:24:17">4 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/webbrowser-trong-wpf-khong-hien-thi-duoc-khi-set-allowstransparencytrue-52744" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52743">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">[Cần tư vấn] Nên học ngôn ngữ lập trình nào?</span>
                    <div class="chat-item-desc format-time" title="2021-09-18 17:11:04">4 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/can-tu-van-nen-hoc-ngon-ngu-lap-trinh-nao-52743" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52742">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">WPF App báo có Virus</span>
                    <div class="chat-item-desc format-time" title="2021-09-18 16:47:02">4 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/wpf-app-bao-co-virus-52742" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52741">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Anh chị cho em hỏi về Tạo Field của lớp có kiểu là lớp khác trong C#</span>
                    <div class="chat-item-desc format-time" title="2021-09-18 15:55:17">4 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/anh-chi-cho-em-hoi-ve-tao-field-cua-lop-co-kieu-la-lop-khac-trong-c-52741" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52740">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Listview WPF</span>
                    <div class="chat-item-desc format-time" title="2021-09-18 14:28:06">4 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/listview-wpf-52740" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52739">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Tính S(n) = 1 + x^2/2! + x^4/4! + … + x^2n/(2n)!</span>
                    <div class="chat-item-desc format-time" title="2021-09-18 12:30:29">4 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/tinh-sn-1-x22-x44-%e2%80%a6-x2n2n-52739" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52738">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">câu hỏi về phép chia lấy phần nguyên '//' trong python</span>
                    <div class="chat-item-desc format-time" title="2021-09-18 11:01:36">4 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/cau-hoi-ve-phep-chia-lay-phan-nguyen-trong-python-52738" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-2 text-center">
                <!-- <a href="/question?tab=tagged" class="btn btn-outline-light btn-sm w-75">Xem thêm câu hỏi</a> -->
              </div>
            </div>

            <script>
              $('[data-toggle="tooltip"]:not(.js-tooltip-enabled)').tooltip(); // reinit tooltip
              feather.replace();
            </script>
          </div>
        </div>
      </div>

    </div>

    <div class="modal fade" id="authen-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="block block-themed block-transparent">
            <div class="block-header bg-primary-dark">
              <h3 class="block-title font-w600">Yêu cầu đăng nhập</h3>
              <div class="block-options">
                <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                  <i class="si si-close"></i>
                </button>
              </div>
            </div>
            <div class="block-content">
              <div class="text-center p-20 border">
                <p class="mb-10">Để sử dụng tính năng này, Bạn cần đăng nhập bằng tài khoản MYCLASS.</p>
                <a class="btn btn-primary btn-noborder" href="/login">Đăng nhập</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





    <script src="/js/layout/common-v=5WmZiv4HuIV-gt1ets7IC2aEarKWhzqG_TwZPwLi1TQ1.js"></script>
    <script src="/js/layout/cmt-v=65dISZQsn5VeLZedj3SFRm92FDw6tiXebwIpHpvT1nY1.js"></script>

  </div>



  <script>
    $("a.side-nav-learn").addClass("active");
  </script>


  <script src="/js/layout/quicklearn-v=wVvEGEzTmNdfHEOrup4fxiC6Y4Y_Wtxli68buwFIvYI1.js"></script>
  <script src="/js/common/common.js"></script>
  <script>
    $('#lectures-list').slimScroll({
      height: ($(".auto-resizable-iframe").height() - 117) + "px"
    });

    $('.auto-resizable-iframe').on('widthChanged', function() {
      var height = $(this).height();
      $('#lectures-list').slimScroll({
        height: (height - 117) + "px"
      });
    });


    // load lecture button
    if ($("#nextLecture").length) {
      $(".btn-nextLecture").attr("href", $("#nextLecture").val());
    } else {
      $(".btn-nextLecture").addClass("disabled");
    }
    if ($("#prevLecture").length) {
      $(".btn-prevLecture").attr("href", $("#prevLecture").val());
    } else {
      $(".btn-prevLecture").addClass("disabled");
    }
    if ($(".btn-startLecture").length) {
      $(".btn-startLecture").attr("href", $("#lecture-1").attr("href"));
    }
  </script>
  <script>
    $(window).on('resize', function() {
      $('#lectures-list').slimScroll({
        height: ($(".auto-resizable-iframe").height() - 117) + "px"
      });
    });

    $(function() {
      $("#input-search-lecture").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#lectures-list a").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

    $(document).ready(function () {
      let lecItem = $('#lectures-list .lecture-item');
      if(lecItem.length > 0){
        let link = $(lecItem[0]).attr('href');
        $('#ytplayer').attr('src',link);
      }
      lecItem.on('click', function(){
        lecItem.removeClass('active');
        $(this).addClass('active');
        let link = $(this).attr('href');
        $('#ytplayer').attr('src',link);
      })

    })
  </script>