<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title data-title=" <% if(course){ %> <%= course.name %> <% } %>"> <% if(course){ %> <%= course.name %> <% } %> | MYCLASS</title>

  <link href="/css/styles-v=x4RW60atpIurWojGx_tZLVnh4oDpgbF2hGWxJiMjAGM1.css" rel="stylesheet" />

  <link href="/css/common-v=mjfzwyxul6gbnDVQmoNbszXxFbDZ9PtP-RQfZsN9oLA1.css" rel="stylesheet" />

  <link href="/css/cmt-v=iFnEdsc0aWB7ErYBJCquEdtuLN598jdqlemVQiSAWT81.css" rel="stylesheet" />

  <link href="/css/course.css" rel="stylesheet" />
  <link href="/css/jquery.toast.css" rel="stylesheet" />

</head>

<body>
  <div id="page-container" class="sidebar-o side-scroll page-header-glass page-header-inverse page-header-fixed main-content-narrow sidebar-inverse side-trans-enabled page-header-scroll" style="height: auto !important;">
    <%- include('../layout/sidebar'); %>
    <%- include('../layout/menu'); %>
    <%- include('../layout/header'); %>

    <!-- Main Container -->
    <main id="main-container" style="height: auto !important; min-height: 245.8px;">



      <!-- Hero -->
      <div class="bg-image" style="background-image: url('/images/code.jpg');">
        <div class="bg-black-op">
          <div class="content">
            <div class="py-50 mt-20">
              <% if(course){ %>

              <script>
                var _courseId = '<%- course._id %>';
              </script>

              <h1 class="h2 text-white font-w700 mb-10"><%= course.name %></h1>

              <a class="d-block text-white-op mb-10" href="javascript:void(0);" data-toggle="scroll-to" data-target="#review-wrapper">

                <div class="text-warning d-inline">
                  <% for(var i=0; i < course.star; i++) { %>
                  <i class="fa fa-fw fa-star"></i>
                  <% } %>
                  <% for(var i=0; i < 5 - course.star; i++) { %>
                  <i class="far fa-fw fa-star"></i>
                  <% } %>
                </div>
                <div class="d-inline">
                  <span class="font-size-h5 font-w600 text-white"> <%= course.star %></span> (<strong class="text-white"><%= course.rate_number %></strong> đánh giá)
                </div>
              </a>
              <div class="text-white-op mb-20">
                <span class="mr-15">
                  Tác giả <a class="link-effect font-w600" href=""><%= course.user_name %></a>
                </span>
                <span class="mr-15 mt-5 d-block d-md-inline">
                  <i class="fa fa-fw fa-book mr-5"></i><span class="font-w600 text-white"><%= course.lession_number %></span> bài học
                </span>
                <span class="mr-15 mt-5 d-block d-md-inline">
                  <i class="far fa-fw fa-eye mr-5"></i><span class="font-w600 text-white"><%= course.view %></span> lượt xem
                </span>
                <span class="mr-15 mt-5 d-block d-md-inline">
                  <i class="far fa-fw fa-comment mr-5"></i><span class="font-w600 text-white"><%= course.comment_number %></span> bình luận
                </span>
              </div>


              <% } else{ %>

              <script>
                var _courseId = null;
              </script>
              <% } %>
              <% if(course.isJoined){ %>
              <button class="btn btn-success btn-noborder btn-startLecture" type="button" disabled="true">
                Đã tham gia
              </button>
              <button class="btn btn-secondary btn-noborder btn-endLecture">
                Hủy tham gia
              </button>
              <%}else{ %>
              <button class="btn btn-primary btn-noborder btn-startLecture">
                Bắt đầu học
                <i class="fas fa-arrow-right fa-fw"></i>
              </button>
              <%}%>
              
            </div>
          </div>
        </div>
      </div>
      <!-- END Hero -->


      <div class="fixed-social-left d-none d-xl-block">

        <span class="bookmark-desktop">
          <div class="btn-sticky-left btn-secondary text-secondary bookmark- js-tooltip-enabled" data-toggle="tooltip" data-placement="right" data-original-title="Lưu bài viết">

            <% if(course.isSaved){ %>
              <i class="text-success fas fa-bookmark ic-source-save un-save-course"></i>
              <% }else{ %>
              <i class="far fa-bookmark  ic-source-save save-course"></i>
              <% } %>

            </div>
            </span>
          </div>

          <!-- Courses -->
          <div class="content" style="height: auto !important;">
            <!-- Breadcrumb -->
            <nav class="breadcrumb bg-white push">
              <a class="breadcrumb-item" href="/"><i class="fas fa-home"></i></a>
              <a class="breadcrumb-item" href="/learn">Khóa học</a>
              <!-- <a class="breadcrumb-item" href="/learn/lap-trinh-7">Lập trình</a>
          <a class="breadcrumb-item" href="/learn/lap-trinh/lap-trinh-python-7-37">Lập trình Python</a> -->
              <span class="breadcrumb-item active"> <% if(course){ %> <%= course.name %> <% } %> </span>
            </nav>
            <!-- END Breadcrumb -->

            <div class="row row-deck">
              <div class="col-xl-8">
                <div class="block block-rounded block-fx-shadow">
                  <div class="auto-resizable-iframe"><iframe class="width-changed"></iframe>
                    <div>
                      <iframe oncontextmenu="return false" id="ytplayer" height="538" type="text/html" frameborder="0" allowfullscreen="" autoplay="true"></iframe>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4">
                <!-- Course Info -->
                <div class="block block-rounded block-fx-shadow">
                  <div class="block-header block-header-default bg-gd-primary">
                    <h3 class="block-title font-w600 text-white">
                      <i class="fa fa-fw fa-list"></i>
                      Danh sách bài học
                    </h3>
                    <div class="block-options d-lg-none">
                      <button type="button" class="btn-block-option text-white" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
                    </div>
                  </div>
                  <div class="block-content p-0">
                    <div class="asyncPartial">
                      <div class="block-content">
                        <div class="input-group mb-2">
                          <input type="text" id="input-search-lecture" class="form-control" placeholder="Tìm bài học...">
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                          </div>
                        </div>
                      </div>

                      <div class="slimScrollDiv" style="position: relative; overflow: auto; width: auto; height: 399.15px;">
                        <div id="lectures-list" class="block-content block-content-sm px-0" data-height="0px" style="overflow: auto; width: auto; height: 399.15px;">
                          <div class="list-group">

                            <% if(lession){ %>
                            <% lession.forEach(function (item, index) { %>

                            <div id="lecture-<%= index+1 %>" class="lecture-item list-group-item list-group-item-action border-0 " href="<%= item.link %>" style="cursor: pointer;">
                              <span class=""> <%= index+1 %>. </span>
                              <%= item.name %>
                            </div>

                            <% }) %>
                            <% } %>


                          </div>
                        </div>
                        <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 24px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 30px;"></div>
                        <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                      </div>



                    </div>
                  </div>
                </div>
                <!-- END Course Info -->
              </div>
            </div>


            <div class="my-15">

            </div>

            <div class="row" style="height: auto !important;">
              <div class="col-xl-12" style="height: auto !important; min-height: 0px !important;">
                <div class="block block-rounded block-fx-shadow" style="height: auto !important;">
                  <div class="block-content block-content-full border-b clearfix">
                    <div class="btn-group float-right">
                      <% if(course.isJoined){ %>
                      <button class="btn btn-success btn-noborder btn-startLecture" type="button" disabled="true">
                        Đã tham gia
                      </button>
                      <button class="btn btn-secondary btn-noborder btn-endLecture">
                        Hủy tham gia
                      </button>
                      <%}else{ %>
                      <button class="btn btn-primary btn-noborder btn-startLecture">
                        Bắt đầu học
                        <i class="fas fa-arrow-right fa-fw"></i>
                      </button>
                      <%}%>
                    </div>
                    <h2 class="m-0 font-size-h2"> <% if(course){ %> <%= course.name %> <% } %></h2>
                      <div class="mt-10 d-block d-xl-none">
                        <button class="btnShareFb btn btn-primary btn-noborder btn-circle mr-5 js-tooltip-enabled" data-url="https://www.howkteam.vn/course/bai-tap-python-tu-luyen-69" data-title="Bài tập Python tự luyện" data-description="Serial dành cho những bạn cần luyện tập phương pháp, tu duy lập trình. Làm quen với các bài toán trong lập trình, ngẫu nhiên từ cơ bản đến nâng cao. Nội dung..." data-image="https://f.howkteam.vn/Upload/cke/images/1_LOGO%20SHOW%20WEB/3_Python/4_Bai%20Tap%20Python/0_Bai-tap-python.png" data-toggle="tooltip" data-placement="right" data-original-title="Chia sẻ lên facebook">
                          <i class="fab fa-facebook-f fa-fw"></i>
                        </button>
                        <span class="bookmark-mobile">
                          <div class="btn-secondary text-secondary bookmark- js-tooltip-enabled btn btn-circle" onclick="Kteam.saveBookmark('', '0', '/bookmark/create'); return false;" data-toggle="tooltip" data-placement="right" data-original-title="Lưu bài viết">
                            <i class="far fa-bookmark"></i>
                          </div>

                        </span>
                      </div>
                    </div>

                    <!-- description -->
                    <% if(course){ %>
                    <%- course.description %>

                    <% } %>
                  </div>
                </div>

                <div class="col-xl-4">
                  <div class="row">
                    <div class="col-12">

                    </div>
                    <div class="col-12">
                      <div class="block block-rounded block-fx-shadow" id="review-wrapper">
                        <div class="block-header">
                          <h3 class="block-title font-w600">Đánh giá</h3>
                        </div>
                        <div class="block-content pt-0 asyncPartial" id="review-container">

                          <div class="row">
                            <div class="col-4 text-center">
                              <div class="font-size-h1">
                                5.0
                              </div>
                              <a href="#" class="d-block text-warning font-size-sm mb-5">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="far fa-star"></i>
                              </a>
                              <div class="mb-10">
                                <span class="fa fa-user fa-fw mr-5"></span> <% if(rate){ %> <%= rate.length%> <%}%> đánh giá
                        </div>
                        <a id="btn-create-review" class="btn btn-warning text-dark btn-sm btn-block btn-noborder">Đánh giá</a>
                      </div>
                      <div class="col-7">
                        <div class="clearfix position-relative font-size-sm mb-10">
                          <div class="float-left mr-10">
                            <i class="fa fa-fw fa-star text-warning"></i> 5
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width:<% if(rate){ %> <%= ((rate.filter(x => x.rate == 5).length)/rate.length )*100 %><%}%>%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="position-absolute" style="right: -15px; top: 0">
                            <% if(rate){ %> <%= rate.filter(x => x.rate == 5).length %> <%}%>
                          </div>
                        </div>
                        <div class="clearfix position-relative font-size-sm mb-10">
                          <div class="float-left mr-10">
                            <i class="fa fa-fw fa-star text-warning"></i> 4
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width:<% if(rate){ %> <%= ((rate.filter(x => x.rate == 4).length)/rate.length )*100 %><%}%>%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="position-absolute" style="right: -15px; top: 0">
                            <% if(rate){ %> <%= rate.filter(x => x.rate == 4).length %> <%}%>
                          </div>
                        </div>
                        <div class="clearfix position-relative font-size-sm mb-10">
                          <div class="float-left mr-10">
                            <i class="fa fa-fw fa-star text-warning"></i> 3
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width:<% if(rate){ %> <%= ((rate.filter(x => x.rate == 3).length)/rate.length )*100 %><%}%>%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="position-absolute" style="right: -15px; top: 0">
                            <% if(rate){ %> <%= rate.filter(x => x.rate == 3).length %> <%}%>
                          </div>
                        </div>
                        <div class="clearfix position-relative font-size-sm mb-10">
                          <div class="float-left mr-10">
                            <i class="fa fa-fw fa-star text-warning"></i> 2
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width:<% if(rate){ %> <%= ((rate.filter(x => x.rate == 2).length)/rate.length )*100 %><%}%>%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="position-absolute" style="right: -15px; top: 0">
                            <% if(rate){ %> <%= rate.filter(x => x.rate == 2).length %> <%}%>
                          </div>
                        </div>
                        <div class="clearfix position-relative font-size-sm mb-10">
                          <div class="float-left mr-10">
                            <i class="fa fa-fw fa-star text-warning"></i> 1
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width:<% if(rate){ %> <%= ((rate.filter(x => x.rate == 1).length)/rate.length )*100 %><%}%>%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="position-absolute" style="right: -15px; top: 0">
                            <% if(rate){ %> <%= rate.filter(x => x.rate == 1).length %> <%}%>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block-content">
                    <div id="review-list" class="mb-20">
                      <% if(rate){ %>
                                <% rate.forEach(function (item, index) { %>

                                <div class="comment-item" id="review-14078">
                                  <div class="media">
                                    <div class="media-left">
                                      <a href="/users/">
                                        <img class="media-object avatar-sm" src="<%=item.user_avatar%>">
                                      </a>
                                    </div>
                                    <div class="media-body">
                                      <div class="comment-replacement">
                                        <div class="comment-heading text-muted">
                                          <a class="comment-author-name" href="/users"><%=item.user_name%></a>
                                          <span>đã đánh giá</span>
                                        </div>
                                        <div class="review-star">
                                          <% for(var i=0; i < item.rate; i++) { %>
                                          <i class="fa fa-star fa-star text-warning"></i>
                                          <% } %>
                                          <% for(var i=0; i < 5 - item.rate; i++) { %>
                                          <i class="far fa-star fa-star"></i>
                                          <% } %>

                                        </div>
                                        <p class="mb-0 review-body">

                                        </p>
                                      </div>

                                    </div>
                                  </div>
                                </div>

                                <% }) %>
                                <% } %>



                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xl-8" style="height: auto !important; min-height: 0px !important;">
                      <div class="block block-rounded block-fx-shadow">
                        <div class="block-header">
                          <h3 class="block-title font-w600">Bình luận</h3>
                        </div>
                        <div class="block-content pt-0">
                          <% if(!user){ %>
                          <div class="media">
                            <div class="media-body">
                              <div class="text-center p-20 border">
                                <p class="mb-10">Để bình luận, bạn cần đăng nhập bằng tài khoản MYCLASS.</p>
                                <a class="btn btn-primary btn-noborder btn-rounded" href="/login">Đăng nhập</a>
                              </div>
                            </div>
                          </div>
                          <% } else{ %>
                          <div class="media">
                            <div class="media-body">
                              <textarea class="form-control" cols="2" data-val="true" data-val-required="Nội dung không được để trống" id="comment-body" name="Body" placeholder="Thêm bình luận..." rows="2"></textarea>
                              <div class="pull-left margin-top-10">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Body" data-valmsg-replace="true"></span>
                              </div>
                              <div class="mt-10">
                                <button type="button" id="btn-comment" class="btn btn-primary btn-noborder mr-5 btn-rounded" data-toggle="click-ripple"><i class="fas fa-reply fa-fw"></i> Nhận xét</button>
                                <a id="btn-cancel-comment" class="btn btn-outline-secondary btn-rounded" href="#" onclick=" return false;" data-toggle="click-ripple">Hủy bỏ</a>
                              </div>
                            </div>
                          </div>
                          <% } %>

                        </div>
                        <div class="block-content">
                          <div id="comment-list" class="mb-20">
                            <% if(comment){ %>
                            <% comment.forEach(function (item, index) { %>
                            <div class="comment-item" id="comment-item-22718">
                              <div class="media">
                                <div class="media-left">
                                  <a href="/users">
                                    <img class="media-object avatar" src="<%= item.user_avatar%>">
                                  </a>

                                </div>
                                <div class="media-body overflow-y-auto" id="comment-body-<%= index%>">
                                  <div class="comment-replacement" id="comment-replacement-22718">
                                    <div class="comment-heading text-muted">
                                      <a class="comment-author-name" href="/users"><%= item.user_name%></a>
                                      <span>đã bình luận</span>
                                    </div>
                                    <div class="comment-body">

                                      <p><%= item.content%></p>

                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>
                            <% }) %>
                            <% } %>


                            <!-- <button class="btn btn-outline-primary btn-block mt-20 mb-20" data-toggle="button-showmore-comment" data-action="/discuss/commentlist/69?page=2&amp;type=1">Xem thêm ...</button> -->

                          </div>
                          <!-- END Discussion -->
                        </div>
                      </div>



                    </div>
                  </div>
                </div>
                <!-- END Courses -->

    </main>
    <!-- END Main Container -->

    <%- include('../layout/footer'); %>


  </div>
  <!-- END Page Container -->

  <script src="/js/layout/common-libs-v=KeX6O5qBHXp8hnCvOctyAewLoNbgYGAqeVBfuCOOl_41.js"></script>

  <script src="/js/layout/hubs.js"></script>

  <script src="/js/layout/theme-libs-v=flWwMHqqG4vF5_S78OkkZmbgib5d81EN11q97eVmyjk1.js"></script>

  <script src="/js/layout/js-v=RBijanojz1bp28r6ZUS4cWfovfa1gOATZhiHYkkjzVo1.js"></script>



  <div>

    <div class="sidebar-messenger">
      <div>
        <div class="block-content block-content-full block-content-sm block-header">
          <div>Quan tâm</div>
          <div class="block-options">
            <div class="d-inline-block js-tooltip-enabled" data-toggle="tooltip" data-placement="bottom" data-original-title="Tạo câu hỏi mới">
              <a href="#" data-toggle="btn-create-question" class="text-white btn-block-option">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus feather-16">
                  <line x1="12" y1="5" x2="12" y2="19"></line>
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg>
              </a>
            </div>
            <div class="d-inline-block js-tooltip-enabled" data-toggle="tooltip" data-placement="bottom" data-original-title="Nhóm chat">
              <a class="text-white btn-block-option" href="/messenger/rooms">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users feather-16">
                  <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                  <circle cx="9" cy="7" r="4"></circle>
                  <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>
              </a>
            </div>
            <div class="dropdown">
              <a href="#" class="text-white btn-block-option" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal feather-16">
                  <circle cx="12" cy="12" r="1"></circle>
                  <circle cx="19" cy="12" r="1"></circle>
                  <circle cx="5" cy="12" r="1"></circle>
                </svg>
              </a>
              <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-67px, 29px, 0px);">
                <a class="dropdown-item" href="/tags?tab=mine">
                  <i class="fas fa-fw fa-tags mr-5"></i> Tag theo dõi
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="newest-chatlist-container" class="block-content block-content-full block-content-sm overflow-y-auto">
          <div class="asyncPartial" data-url="/messenger/newestquestionchatlist?page=1">


            <div class="chat-list">
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52760">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Hỏi về tool ADB Capture</span>
                    <div class="chat-item-desc format-time" title="2021-09-22 12:40:38">khoảng 10 giờ trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/hoi-ve-tool-adb-capture-52760" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52759">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading"> HowKteam được tạo ra bằng ngôn ngữ gì, công nghệ nào?</span>
                    <div class="chat-item-desc format-time" title="2021-09-21 22:41:27">1 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/howkteam-duoc-tao-ra-bang-ngon-ngu-gi-cong-nghe-nao-52759" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52758">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">cần tư vấn ngôn ngữ lập trình cho An ninh mạng và ethical hacker</span>
                    <div class="chat-item-desc format-time" title="2021-09-21 18:40:27">1 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/can-tu-van-ngon-ngu-lap-trinh-cho-an-ninh-mang-va-ethical-hacker-52758" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52757">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Lộ trình C#</span>
                    <div class="chat-item-desc format-time" title="2021-09-21 16:13:29">1 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/lo-trinh-c-52757" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52756">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Danh sách Queue</span>
                    <div class="chat-item-desc format-time" title="2021-09-21 15:33:16">1 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/danh-sach-queue-52756" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52755">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Giúp tạo table html</span>
                    <div class="chat-item-desc format-time" title="2021-09-21 14:00:03">1 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/giup-tao-table-html-52755" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52754">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Hỏi về khóa học</span>
                    <div class="chat-item-desc format-time" title="2021-09-21 13:23:54">1 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/hoi-ve-khoa-hoc-52754" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52753">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Em muốn nhận tư vấn từ mọi người ạ </span>
                    <div class="chat-item-desc format-time" title="2021-09-21 09:48:54">1 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/em-muon-nhan-tu-van-tu-moi-nguoi-a-52753" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52751">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Giải thích ý nghĩa câu lệnh trong Python</span>
                    <div class="chat-item-desc format-time" title="2021-09-20 22:07:09">2 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/giai-thich-y-nghia-cau-lenh-trong-python-52751" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52750">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Javascript Replace </span>
                    <div class="chat-item-desc format-time" title="2021-09-20 14:30:17">2 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/javascript-replace-52750" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52749">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Lộ trình học Android</span>
                    <div class="chat-item-desc format-time" title="2021-09-20 10:09:30">3 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/lo-trinh-hoc-android-52749" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52746">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Các cao nhân cho em hỏi về việc add extensions trên selenium bằng c#</span>
                    <div class="chat-item-desc format-time" title="2021-09-19 17:31:38">3 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/cac-cao-nhan-cho-em-hoi-ve-viec-add-extensions-tren-selenium-bang-c-52746" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52745">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">khi ra làm việc công ty , họ sẽ yêu cầu mình có ngôn ngữ nào vd javacript hay python</span>
                    <div class="chat-item-desc format-time" title="2021-09-18 23:07:33">4 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/khi-ra-lam-viec-cong-ty-ho-se-yeu-cau-minh-co-ngon-ngu-nao-vd-javacript-hay-python-52745" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52744">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">WebBrowser trong WPF không hiển thi được khi set AllowsTransparency="True"</span>
                    <div class="chat-item-desc format-time" title="2021-09-18 17:24:17">4 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/webbrowser-trong-wpf-khong-hien-thi-duoc-khi-set-allowstransparencytrue-52744" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52743">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">[Cần tư vấn] Nên học ngôn ngữ lập trình nào?</span>
                    <div class="chat-item-desc format-time" title="2021-09-18 17:11:04">4 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/can-tu-van-nen-hoc-ngon-ngu-lap-trinh-nao-52743" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52742">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">WPF App báo có Virus</span>
                    <div class="chat-item-desc format-time" title="2021-09-18 16:47:02">4 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/wpf-app-bao-co-virus-52742" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52741">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Anh chị cho em hỏi về Tạo Field của lớp có kiểu là lớp khác trong C#</span>
                    <div class="chat-item-desc format-time" title="2021-09-18 15:55:17">4 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/anh-chi-cho-em-hoi-ve-tao-field-cua-lop-co-kieu-la-lop-khac-trong-c-52741" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52740">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Listview WPF</span>
                    <div class="chat-item-desc format-time" title="2021-09-18 14:28:06">4 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/listview-wpf-52740" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52739">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">Tính S(n) = 1 + x^2/2! + x^4/4! + … + x^2n/(2n)!</span>
                    <div class="chat-item-desc format-time" title="2021-09-18 12:30:29">4 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/tinh-sn-1-x22-x44-%e2%80%a6-x2n2n-52739" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-item chat-item-hover unread" data-toggle="quickview-question" data-title="Câu hỏi" data-href="/question/quickview/52738">
                <div class="media">
                  <div class="media-body">
                    <span class="media-heading">câu hỏi về phép chia lấy phần nguyên '//' trong python</span>
                    <div class="chat-item-desc format-time" title="2021-09-18 11:01:36">4 ngày trước</div>
                  </div>
                  <div class="media-left pl-10">
                    <div data-toggle="tooltip" data-placement="bottom" data-original-title="Chi tiết">
                      <a href="/q/cau-hoi-ve-phep-chia-lay-phan-nguyen-trong-python-52738" class="text-white btn btn-sm btn-circle" data-toggle="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2 feather-16">
                          <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                          <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-2 text-center">
                <!-- <a href="/question?tab=tagged" class="btn btn-outline-light btn-sm w-75">Xem thêm câu hỏi</a> -->
              </div>
            </div>

            <script>
              $('[data-toggle="tooltip"]:not(.js-tooltip-enabled)').tooltip(); // reinit tooltip
              feather.replace();
            </script>
          </div>
        </div>
      </div>

    </div>

    <div class="modal fade" id="authen-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="block block-themed block-transparent">
            <div class="block-header bg-primary-dark">
              <h3 class="block-title font-w600">Yêu cầu đăng nhập</h3>
              <div class="block-options">
                <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                  <i class="si si-close"></i>
                </button>
              </div>
            </div>
            <div class="block-content">
              <div class="text-center p-20 border">
                <p class="mb-10">Để sử dụng tính năng này, Bạn cần đăng nhập bằng tài khoản MYCLASS.</p>
                <a class="btn btn-primary btn-noborder" href="/login">Đăng nhập</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade show" id="review-modal" tabindex="-1" role="dialog" aria-modal="true" style="padding-right: 8px; display: none;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="block block-themed block-transparent">
            <div class="block-header bg-gd-primary">
              <h3 class="block-title font-w600">Đánh giá và Nhận xét</h3>
              <div class="block-options">
                <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                  <i class="si si-close"></i>
                </button>
              </div>
            </div>
            <div class="block-content">
              <form>
                <div class="rating mb-20 text-warning">
                  <i class="fa-star fa-fw fa-2x far" data-value="1" style="cursor: pointer"></i>
                  <i class="fa-star fa-fw fa-2x far" data-value="2" style="cursor: pointer"></i>
                  <i class="fa-star fa-fw fa-2x far" data-value="3" style="cursor: pointer"></i>
                  <i class="fa-star fa-fw fa-2x far" data-value="4" style="cursor: pointer"></i>
                  <i class="fa-star fa-fw fa-2x far" data-value="5" style="cursor: pointer"></i>

                </div>
                <input id="ReviewStar" style="display: none;" value="0"></span>
                <div class="form-group">
                  <textarea class="form-control" cols="4" id="content-rate" name="content-rate" placeholder="Nội dung đánh giá..." rows="4"></textarea>
                  <span class="valid-rate text-danger" style="display: none;">Vui lòng nhập đánh giá</span>
                </div>
                <div class="clearfix">
                  <button class="btn btn-alt-primary btn-noborder btn-block" id="btn-send-rate" type="button">Đánh giá</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script src="/js/layout/common-v=5WmZiv4HuIV-gt1ets7IC2aEarKWhzqG_TwZPwLi1TQ1.js"></script>
    <script src="/js/layout/cmt-v=65dISZQsn5VeLZedj3SFRm92FDw6tiXebwIpHpvT1nY1.js"></script>
    <script src="/js/layout/jquery.toast.js"></script>
  </div>



  <script>
    $("a.side-nav-learn").addClass("active");
  </script>


  <script src="/js/layout/quicklearn-v=wVvEGEzTmNdfHEOrup4fxiC6Y4Y_Wtxli68buwFIvYI1.js"></script>
  <!-- <script src="/js/layout/review-v=lc5-6WnxtwX7ieFx-Bk011XweI2NsdvN2bCky-ZZqZg1.js"></script> -->
  <script src="/js/common/common.js"></script>
  <script>
    $('#lectures-list').slimScroll({
      height: ($(".auto-resizable-iframe").height() - 117) + "px"
    });

    $('.auto-resizable-iframe').on('widthChanged', function() {
      var height = $(this).height();
      $('#lectures-list').slimScroll({
        height: (height - 117) + "px"
      });
    });


    // load lecture button
    if ($("#nextLecture").length) {
      $(".btn-nextLecture").attr("href", $("#nextLecture").val());
    } else {
      $(".btn-nextLecture").addClass("disabled");
    }
    if ($("#prevLecture").length) {
      $(".btn-prevLecture").attr("href", $("#prevLecture").val());
    } else {
      $(".btn-prevLecture").addClass("disabled");
    }
  </script>
  <script>
    $(window).on('resize', function() {
      $('#lectures-list').slimScroll({
        height: ($(".auto-resizable-iframe").height() - 117) + "px"
      });
    });

    $(function() {
      $("#input-search-lecture").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#lectures-list a").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

    $(document).ready(function() {
      let lecItem = $('#lectures-list .lecture-item');
      if (lecItem.length > 0) {
        let link = $(lecItem[0]).attr('href');
        $('#ytplayer').attr('src', link);
      }
      lecItem.on('click', function() {
        lecItem.removeClass('active');
        $(this).addClass('active');
        let link = $(this).attr('href');
        $('#ytplayer').attr('src', link);
      })

      $('#btn-comment').on('click', function() {
        let content = $('#comment-body').val();
        $('#comment-body').val('');
        if (content) {
          let comment = {
            user_id: _userId,
            user_name: _userName,
            user_avatar: _userAvatar,
            content: content,
            course_id: _courseId,
          };
          $.ajax({
              method: "POST",
              url: "http://localhost:8017/insertCourseComment",
              data: comment
            })
            .done(function(data) {
              if (data.status === 'SUCCESS') {
                showToast('Gửi nhận xét thành công', 'success');
                $('#comment-list').prepend(createComment(comment));
              } else if (data.status === 'Block') {
                showToast('Có lỗi xảy ra, vui lòng liên hệ để được hỗ trợ', 'error');
              }
            });
        }

      })

      $('#btn-cancel-comment').on('click', function() {
        $('#comment-body').val('');
      })

      $('#btn-create-review').on('click', function() {
        if (_userId) {
          $('#review-modal').modal();
          $('#valid-rate').hide();
        } else {

          $('#authen-modal').modal();
        }
      });

      $("#review-modal").on("click", ".rating > i", function() {
        debugger
        var t = parseInt($(this).data("value")),
          n = $(this).parent().children("i.fa-star");
        for (i = 0; i < n.length; i++)
          $(n[i]).removeClass("fa").addClass("far");
        for (i = 0; i < t; i++)
          $(n[i]).addClass("far").addClass("fa");
        $("#ReviewStar").val(t)
      })


      $('#btn-send-rate').on('click', function() {
        let content = $('#content-rate').val(),

          rateData = {
            user_id: _userId,
            user_name: _userName,
            user_avatar: _userAvatar,
            content: content,
            course_id: _courseId,
            rate: $("#ReviewStar").val(),
          };
        if (!content) {
          $('.valid-rate').show();
        } else {
          $('#review-modal').modal('hide');
          $('.valid-rate').hide();
          $.ajax({
              method: "POST",
              url: "http://localhost:8017/insertCourseRate",
              data: rateData
            })
            .done(function(data) {
              if (data.status === 'SUCCESS') {
                showToast('Gửi nhận xét thành công', 'success');
                $('#review-list').prepend(createRate(rateData));
              } else if (data.status === 'Block') {
                showToast('Có lỗi xảy ra, vui lòng liên hệ để được hỗ trợ', 'error');
              }
            });
        }
      })

      $('.ic-source-save').on('click', function() {
        if (!_userId) {
          $('#authen-modal').modal();
        } else {
          if ($(this).hasClass('save-course')) {
            $(this).removeClass('far save-course');
            $(this).addClass('text-success fas un-save-course');
            //unsave
            //save
            $.ajax({
                method: "POST",
                url: "http://localhost:8017/insertCourseSave",
                data: {
                  user_id: _userId,
                  course_id: _courseId,
                }
              })
              .done(function(data) {
                if (data.status === 'SUCCESS') {
                  showToast('Lưu khóa học thành công', 'success');
                } else if (data.status === 'Block') {
                  showToast('Có lỗi xảy ra, vui lòng liên hệ để được hỗ trợ', 'error');
                }
              });
          } else {
            $(this).removeClass('text-success fas un-save-course');
            $(this).addClass('far save-course');
            $.ajax({
                method: "POST",
                url: "http://localhost:8017/deleteCourseSave",
                data: {
                  user_id: _userId,
                  course_id: _courseId,
                }
              })
              .done(function(data) {
                if (data.deletedCount === 1) {
                  showToast('Bỏ lưu khóa học thành công', 'success');
                } else if (data.status === 'Block') {
                  showToast('Có lỗi xảy ra, vui lòng liên hệ để được hỗ trợ', 'error');
                }
              });
          }
        }

      });

      $('.btn-startLecture').on('click', function() {
        debugger
        if(_userId){
          $.ajax({
                method: "POST",
                url: "http://localhost:8017/insertCourseJoin",
                data: {
                  user_id: _userId,
                  course_id: _courseId,
                }
              })
              .done(function(data) {
                if (data.status === 'SUCCESS') {
                  showToast('Tham gia khóa học thành công', 'success');
                  location.reload();
                } else if (data.status === 'Block') {
                  showToast('Có lỗi xảy ra, vui lòng liên hệ để được hỗ trợ', 'error');
                }
              });
        }
        else{
          $('#authen-modal').modal();
        }
      });

      $('.btn-endLecture').on('click', function() {
        $.ajax({
                method: "POST",
                url: "http://localhost:8017/deleteCourseJoin",
                data: {
                  user_id: _userId,
                  course_id: _courseId,
                }
              })
              .done(function(data) {
                if (data.deletedCount === 1) {
                  showToast('Hủy tham gia khóa học thành công', 'success');
                  location.reload();
                } else if (data.status === 'Block') {
                  showToast('Có lỗi xảy ra, vui lòng liên hệ để được hỗ trợ', 'error');
                }
              });
      });
    });

    showToast = (text, type) => {
      $.toast({
        heading: 'Thông báo',
        text: text,
        showHideTransition: 'slide',
        position: 'top-right',
        icon: type
      })
    }

    createRate = (rate) => {
      let rateStar = '';
      for (let i = 0; i < rate.rate; i++) {
        rateStar = rateStar + '<i class="fa fa-star text-warning"></i>'
      }
      for (let i = 0; i < 5 - rate.rate; i++) {
        rateStar = rateStar + '<i class="far fa-fw fa-star"></i>'
      }
      let rateItem = `<div class="comment-item" id="review-14078">
                        <div class="media">
                          <div class="media-left">
                            <a href="/users/">
                              <img class="media-object avatar-sm" src="${rate.user_avatar}">
                            </a>
                          </div>
                          <div class="media-body">
                            <div class="comment-replacement">
                              <div class="comment-heading text-muted">
                                <a class="comment-author-name" href="/users">${rate.user_name}</a>
                                <span>đã đánh giá</span>
                              </div>
                              <div class="review-star">
                                
                                ${rateStar}
                              </div>
                              <p class="mb-0 review-body">
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>`
      return rateItem
    }
    createComment = (comment) => {
      let html = `<div class="comment-item" id="comment-item-22718">
                        <div class="media">
                          <div class="media-left">
                            <a href="/users">
                              <img class="media-object avatar" src="${comment.user_avatar}%>">
                            </a>
    
                          </div>
                          <div class="media-body overflow-y-auto">
                            <div class="comment-replacement" id="comment-replacement-22718">
                              <div class="comment-heading text-muted">
                                <a class="comment-author-name" href="/users">${comment.user_name}</a>
                                <span>đã bình luận</span>
                              </div>
                              <div class="comment-body">
    
                                <p>${comment.content}</p>
    
                              </div>
                            </div>
    
                          </div>
                        </div>
                      </div>`;
      return html;
    }
  </script>